body{
    background-color: #FFFFFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h1{
    text-align: center;
}
h3{
    text-align: center;
    background-color: #F44336;
    color: #BDBDBD
}
#filosofia{
    color: black;
}
cite{
    text-align: center;
}
footer{
    text-align: center;
}